<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if id == None %}
            <H1>States</H1>
            {% for key_state, value_state in states.items() | sort(attribute="name") %}
            <UL>State: {{value_state.id}}: <B>{{value_state.name}}</B></UL>
            {%endfor%}
        {% elif id == "notfound" %}
            <H1>Not found!</H1>
        {% else %}
            <ul>
                {% for key_state, value_state in states.items() | sort(attribute="name") %}
                {% if value_state.id == id %}
                <H1>State: {{value_state.name}}</H1>
                <H3>Cities</H3>
                    <UL>
                    {% for key_city, value_city in cities.items() | sort(attribute="name") %}
                        {% if value_city.state_id == id %}
                        <LI>City: {{value_city.id}}: <B>{{value_city.name}}</B></LI>
                        
                        {% endif %}
                    {%endfor%}
                    </UL>
                </LI>
                {% endif %}
                {%endfor%}
            </ul>
        {% endif %}
    </BODY>
</HTML>
